.mainLayout {
  width: 100svw;
  background-color: var(--lookinsure-palette-surface_main_background);
  height: 100svh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .content {
    width: max-content;
    min-width: 600px;
    padding: 16px 120px 16px 16px;
    z-index: 10;

    @media (max-width: 760px) {
      min-width: 100%;
      display: flex;
      justify-content: center;
      padding: 0;
    }
  }

  .carImage {
    height: 420px;
    width: 760px;
    padding: 60px 40px;
    flex: 1;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (max-width: 760px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      position: relative;
    }
  }
}
