.form {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 760px) {
    width: 100svw;
    min-height: 350px;
    height: max-content;
    align-items: center;
    padding: 20px;
  }

  .name {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 760px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .submit {
    display: flex;
    justify-content: flex-end;
  }
}
