.form {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .name {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .submit {
    display: flex;
    justify-content: flex-end;
  }
}
