.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (max-width: 760px) {
    width: 100svw;
    height: 350px;
    padding-top: 20px;
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 760px) {
      width: 100%;
      height: 320px;
      justify-content: center;
    }

    .imageItem {
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 1px solid #c0c4cc;
      border-radius: 16px;
      align-items: center;
      justify-content: center;

      width: 110px;
      height: 110px;
      object-fit: cover;
    }
  }
}
